@media screen and (max-width:1600px){
    #header .center{max-width: 1200px;}
    #sliderSec .sliderTxt span{font-size:170px;}
}

@media screen and (max-width:1400px){
    #serviceSec .serviceCon .conBox .item .txtBox{max-width: 80%;}
    #serviceSec .serviceCon .conBox .item .txtBox span{font-size:14px;}
}    

@media screen and (max-width:1024px){
    #sliderSec .sliderTxt span{font-size:150px;}
    #sliderSec .sliderTxt{transform: scaleX(1); transition:all 0.4s ease-in-out;}
}


@media screen and (max-width:800px){
    #header{padding:0 30px;}
    #sliderSec .sliderTxt{font-size: 100px;justify-content:space-between;transform: scaleX(0.8); transition:all 0.4s ease-in-out}



}


@media screen and (max-width:600px){
    #header{height:80px;}
    #header .topLogo{margin:10px auto;}
}

