
*{margin:0; padding:0; box-sizing: border-box;}
body{overflow:hidden; margin-top:0 im !important; min-width:320px; 
    color: #514d4d; line-height:1.64; letter-spacing:-0.48px; 
font-size:16px; font-family:'Noto Sans KR', sans-serif; word-break:break-all;
word-wrap:break-word; font-weight: 300;
}


h1,h2,h3,h4,h5,h6{font-family:'Noto Sans KR', sans-serif;}
ol,ul{list-style: none;}


/* global */
.clearfix:after{display:block; content:''; clear:both;}