@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap&family=Noto+Sans+KR:wght@100;300;400;500;700;900');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Header Style */
#header{width:100%;height:100px; background: #fff; position: fixed; top:0; left:0; display:flex; align-items:center;
    justify-content: center; z-index:999;}
#header .center{position:relative; }
#header .center .topLogo{float:left; width:25%; height:60px; padding-left:10px;}
#header .center .topLogo a{width:100%; height:auto; }
#header .center .topLogo img{height:100%; left:0;}


#header .topNavBar{float:right; height:100%; margin-top:10px;}
#header .topNavBar a{width:50px; height:50px; display:flex; flex-wrap: wrap; 
justify-content: flex-end; padding:15px 10px 0 10px; cursor: pointer; _position:relative; z-index:999;}
#header .topNavBar a span{display: block; _position: absolute; width:100%; 
height:4px; background-color: #514d4d; border-radius: 4px; transition:all 0.4s; }
#header .topNavBar a span:nth-child(1){top:0; }
#header .topNavBar a span:nth-child(2){top: 20px;}
#header .topNavBar a span:nth-child(3){bottom: 0;}


/* when click topNavBar */
#header .topNavBar a.active span:nth-child(1){transform: translateY(13px) rotate(45deg);}
#header .topNavBar a.active span:nth-child(2){opacity:0;}
#header .topNavBar a.active span:nth-child(3){transform : translateY(-10px) rotate(-45deg);}


/* main contents container style */
.container{width:100%; height:auto;}

/***********************
 Hidden Navigation style 
 *************************/
#hiddenNav{_display: none; position: fixed; right: 0; top: 0; bottom: 0; width:100%; height:auto; _background-color: #fcf7ef;
z-index: 998; box-sizing: border-box;}
#hiddenNav .hiddenLeft{width:80%; height:100%;float:left; _background: chartreuse;display:none;}
#hiddenNav .hiddenRight{width:20%; height:100%; float:right; background:#fcf7ef;}
#hiddenNav .hiddenRight .center{width:100%; height:auto; max-width: 90%; margin:100px auto;}
#hiddenNav .hiddenRight .center .mainDepth{width:100%; height:800px;padding:20px 0; background:#fff; box-shadow: rgb(100 100 100 / 20%) 6px 2px 10px;}
#hiddenNav .hiddenRight .center .mainDepth li.accordion-toggle{width:100%; _height:20%; font-size:20px; display: flex; flex-direction: column;align-items: center;
padding:20px; border-top:1px solid #dbdcd2;}
#hiddenNav .hiddenRight .center .mainDepth li.accordion-toggle:nth-child(1){border-top: 0;}
#hiddenNav .hiddenRight .center .mainDepth li.accordion-toggle span{font-weight:600; font-size: 25px; }
#hiddenNav .hiddenRight .center .mainDepth li.accordion-toggle .subDepth{padding:20px; display:none;}
#hiddenNav .hiddenRight .center .mainDepth li.accordion-toggle.active-tab{background:#fcf7ef; transition: all 0.3s ease;}



/***********************
 Slider Section style 
 *************************/

/* Slider Section SliderWrap style */
#sliderSec{width:100%; height:950px; background:#fcf7ef; position:relative; _padding-bottom:100px;
display:flex; justify-content: center; align-items: center;}
#sliderSec .sliderWrap{width:580px;margin:auto; }


/* Slider Section sliderTxt style */
#sliderSec .sliderEmblem{position:absolute;width:43px; height:43px; transition:all 0.6s; right:20%;top:0;}
#sliderSec .sliderEmblem img{width:100%; animation: rotateImage 10s linear infinite;
    transform-origin: 50% 50%;}
#sliderSec .sliderTxt{width: 100%; max-width:1300px;height: 400px; position:absolute; display:flex; justify-content: space-around; 
    align-items: center; text-align: center; z-index: 100; transition:all 1.2s linear;}
#sliderSec .sliderTxt span{display:block; color:#514d4d; font-family:'Source Sans Pro';font-weight: 400; font-size: 200px;
padding:0; }


/***********************
 Service Section style 
 **************************/
 #serviceSec{position:absolute;width:100%; height:auto; position:relative; background: linear-gradient(to bottom, rgba(252,247,239,1) 0%,rgba(255,255,255,0) 100%);
margin-bottom: 100px; transition:all 0.4s linear}

 /* serviceTit style */
 #serviceSec .serviceTit{width:100%; height:auto;display:flex; justify-content: center; align-items: center; flex-direction:column; }
 #serviceSec .serviceTit .seviceEmblem{width:100%; height:auto;display:flex; justify-content: center;}
 #serviceSec .serviceTit .seviceEmblem img{width:100%; }
 #serviceSec .serviceTit h1{font-family: 'Source Sans Pro'; font-weight:600; font-size:50px; padding:20px; display:block;}

 #serviceSec .serviceTit .line{width:50px; display:block; height:4px; background:#514d4d;}


 /* serviceCon style(grid box) */
#serviceSec .serviceCon{width:100%; height:auto; margin-top:30px; }
#serviceSec .serviceCon .conBox{width:100%; height: auto;display:grid;grid-template-columns: repeat(3, 1fr); gap:0.4%;
align-items:stretch; align-content: center; justify-content: center;}

#serviceSec .serviceCon .conBox .item{padding:20px; display:flex; flex-direction: column; align-items: center; _position:relative;}
#serviceSec .serviceCon .conBox .item .imgBox{width: 100%; height:250px; background:url(../img/main_service_1.png) no-repeat center center;
background-size: cover; border-radius: 20px; position:relative;}
#serviceSec .serviceCon .conBox .item:nth-child(2) .imgBox{background-image:url(../img/main_service_2.png);}
#serviceSec .serviceCon .conBox .item:nth-child(3) .imgBox{background-image:url(../img/main_service_3.png);}


#serviceSec .serviceCon .conBox .item .imgBox .iconBox{width:100%; height:100px; position:absolute; background:url(../img/main_service_bg.png)
no-repeat 50% 0; top:80%; display:flex; justify-content: center; align-items: center;}
#serviceSec .serviceCon .conBox .item .imgBox .iconBox img{max-width:100%;}


#serviceSec .serviceCon .conBox .item .txtBox{margin-top:50px; width:100%; text-align: center;max-width: 80%;}
#serviceSec .serviceCon .conBox .item .txtBox h3{display: block;margin-bottom:10px; font-family: 'Noto Sans KR';}
#serviceSec .serviceCon .conBox .item .txtBox span{display: block; margin-bottom: 20px; font-weight: 400; font-family: 'Noto Sans KR'}
#serviceSec .serviceCon .conBox .item .txtBox button:hover{color:#fff; background: #cd056d; border:1px solid #cd056d;}


/***********************
 Grid Section style 
 **************************/
 #gridSec{width:100%; height: auto; margin-bottom:100px;}
 #gridSec .gridBox{width:100%; height:auto; display:grid; grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(5,minmax(200px, auto)); 
align-content:center; justify-content: center; _border:1px solid #cd056d; transition:all 0.4s ease;}

#gridSec .gridBox .item{width:100%; height:auto; position:relative; display:flex; justify-content: center; align-items: center;
}


#gridSec .gridBox .item1{grid-row:1/3; grid-column: 1/2; height:1000px;}
#gridSec .gridBox .item2{height:700px; background:#cd056d; transition: all 0.4s ease-in-out;}
#gridSec .gridBox .item3{height:300px;}
#gridSec .gridBox .item4{_grid-row:1/2; grid-column:1/3;height: 1000px; _transition:all 0.5s ease-in-out;}
/* #gridSec .gridBox .item5{height:600px;} */
#gridSec .gridBox .item6{height:600px;}
#gridSec .gridBox .item7{height:600px;}
#gridSec .gridBox .item5,
#gridSec .gridBox .item8{justify-content:flex-start;}


/* Gridbox ImgBox Style */
#gridSec .gridBox .item .imgBox{width:100%; height: 100%; background: url(../img/main_grid_img_1.jpg) no-repeat 
    50%;background-size: cover;}
#gridSec .gridBox .item3 .imgBox{background-image: url(../img/main_grid_img_2.png);}
#gridSec .gridBox .item4 .imgBox{background-image: url(../img/main_grid_img_3.png);}
#gridSec .gridBox .item6 .imgBox{background-image: url(../img/main_grid_img_4.png);}
#gridSec .gridBox .item7 .imgBox{background-image: url(../img/main_grid_img_5.png);}

/* Gridbox TxtBox Style */
#gridSec .gridBox .item .txtBox{width:100%; height:auto; text-align: center; position:absolute; font-family:'Noto Sans Kr'; 
font-weight: 500; color:#fff; }
#gridSec .gridBox .item .txtBox h3{font-size:35px;}
#gridSec .gridBox .item .txtBox span{display:block;margin-top:10px;font-weight: 300; }

#gridSec .gridBox .item1 .txtBox{bottom:20%;}
#gridSec .gridBox .item3 .txtBox h3 em{font-style: normal; font-weight:300;}
/* #gridSec .gridBox .item4 .txtBox{display:flex; flex-direction: column;} */
#gridSec .gridBox .item4 .txtBox .center{width:100%; height:auto; max-width: 800px; margin:0 auto;}
#gridSec .gridBox .item4 .txtBox img{display:inline-block; position:relative; box-sizing:border-box; }
#gridSec .gridBox .item5 .txtBox,
#gridSec .gridBox .item8 .txtBox{color:#514d4d; justify-content: flex-start; flex-direction: column; text-align: left; left:20%;}



/* Gridbox Button Style */
#gridSec .gridBox .item .txtBox button{border:1px solid #fff; color:#fff; font-family:'Source Sans Pro' ; margin:30px 5px;}
#gridSec .gridBox .item .txtBox button:hover{color:#fff; background: #cd056d; border:1px solid #cd056d;}

#gridSec .gridBox .item2 .txtBox button{font-weight: 600; font-size:16px; _margin:5px;}
#gridSec .gridBox .item2 .txtBox button:hover{color:#cd056d; background: #fcf7ef; border:1px solid #fcf7ef;}

#gridSec .gridBox .item5 .txtBox button,
#gridSec .gridBox .item8 .txtBox button
{color:#514d4d; border:1px solid #514d4d;}


/***********************
Contact Section style 
 **************************/
 #contactSec{width:100%; height: auto;   margin-bottom: 100px;}
 #contactSec .contactCon{width:100%; height:auto; }
 #contactSec .contactCon ul{display:flex; _flex-direction:row; justify-content: space-evenly; align-items: center;
top:50%;}
 #contactSec .contactCon ul li{width:250px; height:250px;margin:5px;box-sizing: border-box; display:flex; flex-direction: column; 
align-items: center; background:#fcf7ef; border-radius: 20px; justify-content: center;transition:all 0.5s linear; cursor: pointer;}
#contactSec .contactCon ul li:hover{transform:scale(1.05); background:#fceae6;}

 #contactSec .contactCon ul li .imgBox{width:100px; height:100px; display:flex; justify-content: center; align-items: center; }
 #contactSec .contactCon ul li .imgBox img{max-width: 100%; max-height: 100%; }


#contactSec .contactCon ul li .txtBox{margin-top:20px; font-weight: 500; font-size:18px;}


/***********************
Footer style 
 **************************/
#footer{background:#514d4d; width:100%; height:auto;}
#footer .btmNav{width:100%; height:auto; padding:50px 0; display:flex; justify-content: space-between; align-items: center;}
#footer .btmNav .btmLogo{width:25%; height:50px; padding-left:20px;}
#footer .btmNav .btmLogo a{width:100%; height:100%; }
#footer .btmNav .btmLogo img{height:100%; left:0;}


#footer .btmNav .btmQuick{width:50%;height:100%; margin-right:20px;}
#footer .btmNav .btmQuick ul{width:100%; display:flex; justify-content: flex-end; }
#footer .btmNav .btmQuick ul li{display:block; margin-left:20px; }
#footer .btmNav .btmQuick ul li span{display:inline-block; }
#footer .btmNav .btmQuick ul li span a{font-family: 'Noto Sans KR';  cursor:pointer;display:flex; justify-content: center; align-items:center;
color:rgba(255, 255, 255, 0.575);}
#footer .btmNav .btmQuick ul li span a i{display:block;font-size:16px; font-weight:200; color:#fff; box-sizing: border-box;
padding-left:10px; color:rgba(255, 255, 255, 0.575);} 

#footer .btmInfo{width:100%; height:auto; padding:20px;}
#footer .btmInfo ul{width:100%; display:flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start;}
#footer .btmInfo li{width:33.33; color:rgba(255, 255, 255, 0.575);  display:flex; flex-direction: row; flex-wrap: wrap;
margin-bottom: 10px;}
#footer .btmInfo li span{display: block; padding-right:10px;}

#footer .btmInfo p{width:100%; display:block; font-family: 'Source Sans Pro'; color:rgba(255, 255, 255, 0.575); margin-top: 20px;}





