@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap&family=Noto+Sans+KR:wght@100;300;400;500;700;900');

/* Header Style */
#header{width:100%; height:100px; background:#fff; position:fixed;}
#header .topLogo{float:left; width: 25%; height:50px; top:50%; transform: translateY(-50%);}
#header .topLogo .logoImg{height:100%; background: url(../img/logo.png) no-repeat center center; background-size: contain;}


#header .topMenuBar{float:right; width: 10%; height:100%; _background:#cd056d;
display:flex; justify-content: center; align-items: center;}
#header .topMenuBar a{width:50px; height:50px; padding:30px; display:flex; justify-content: center;
align-items: center; }
#header .topMenuBar a i{display:block;font-size:30px; font-weight:200; color:#514d4d;}

/* main contents container style */
#container{width:100%; height:auto;}


/***********************
 Main Slider style 
 *************************/
#container .mainSlider{width:100%; height:880px; _background:#dcd3c9; position:relative;}

/* main slider sliderWrap style */
#container .mainSlider .sliderWrap{width:100%; height:100%;margin: 0px auto; _background:#ddd;}
#container .mainSlider .sliderWrap .slider{position:relative; width:530px; height:880px; z-index:99; left:0;top:0;
    background:url(../img/main_slide_1.png) no-repeat center center; background-size: 100%;
}
#container .mainSlider .sliderWrap .item_1{background-image:url(../img/main_slide_1.png);}
#container .mainSlider .sliderWrap .item_2{background-image: url(../img/main_slide_2.png);}
#container .mainSlider .sliderWrap .item_3{background-image: url(../img/main_slide_3.png);}
#container .mainSlider .sliderWrap .item_4{background-image: url(../img/main_slide_4.png);}

/* main slider sliderTxt style */
#container .mainSlider .sliderTxt{width: 100%; height: 300px; position:absolute; display:flex; justify-content: space-between; 
    align-items: center; top:50%;transform: translateX(-50%); text-align: center; z-index: 999;}
#container .mainSlider .sliderTxt span{display:block; color:#514d4d; font-weight: 700; font-size: 200px;}



/* #container .mainSlider .sliderWrap .slider .sliderBg{position:absolute; width:100%; display:inline-block;
background: url(../img/main_slide_1.png) no-repeat center center;background-size: 100%; left:0; top:0;}
#container .mainSlider .sliderWrap .slider .sliderBg:first-child{background-image: url(../img/main_slide_1.png) } 
#container .mainSlider .sliderWrap .slider .sliderBg:nth-child(2){background-image: url(../img/main_slide_2.png) } 
#container .mainSlider .sliderWrap .slider .sliderBg:nth-child(3){background-image: url(../img/main_slide_3.png) } 
#container .mainSlider .sliderWrap .slider .sliderBg:last-child{background-image: url(../img/main_slide_4.png) }  */
