@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap&family=Noto+Sans+KR:wght@100;300;400;500;700;900');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Header Style */
/* #header{width:100%; height:100px; background:#fff; position:fixed; _padding:0 40px; top:0; left:0; display:flex; align-items:center;}
#header .center{width:100%; height:auto; max-width:1600px; margin:0 auto; position:relative;
 _justify-content: flex-start;}
#header .topLogo{float:left; _position:relative; width: 25%; height:50px; _margin:15px auto;}
#header .topLogo a{width:100%; height: 100%; cursor: pointer;}
#header .topLogo img{height:100%; _position:absolute; left:0; ;} */

#header{width:100%;height:100px; background: #fff; position: fixed; top:0; left:0; display:flex; align-items:center;
z-index:999;}
#header .center{width:100%; height:auto; max-width:1600px; margin:auto; position:relative;}
#header .center .topLogo{float:left; width:25%; height:50px;}
#header .center .topLogo a{width:100%; height:100%; }
#header .center .topLogo img{height:100%; left:0;}


#header .topNavBar{float:right; height:100%; _display:flex; _justify-content: center; _align-items: center;}
#header .topNavBar a{width:50px; height:50px; _padding:30px; display:flex; justify-content: center;
align-items: center; cursor: pointer;}
#header .topNavBar a i{display:block;font-size:30px; font-weight:200; color:#514d4d;}

/* main contents container style */
.container{width:100%; height:auto;}


/***********************
 Slider Section style 
 *************************/
#sliderSec{width:100%; height:880px; _background:#dcd3c9; position:relative; background:#fcf7ef;}

/* Slider Section sliderWrap style */
#sliderSec .sliderWrap{position:relative;width:100%; height:100%;margin: 0px auto; _background:#ddd;}
#sliderSec .sliderWrap .slider{position:relative; width:100vw; height:880px; z-index:10; left:0;top:0;
background:url(../img/main_slide_1.png) no-repeat center center; background-size: 100%; transition:all 0.4s ease-in-out;}

#sliderSec .sliderWrap .item1{background-image:url(../img/main_slide_1.png);}
#sliderSec .sliderWrap .item2{background-image: url(../img/main_slide_2.png);}
#sliderSec .sliderWrap .item3{background-image: url(../img/main_slide_3.png);}
#sliderSec .sliderWrap .item4{background-image: url(../img/main_slide_4.png);}

/* Slider Section sliderDots style */
#sliderSec .sliderWrap .sliderDots{display:block; position:absolute; width :100%; left:0%; transform: translateX(-100%);
display:flex; justify-content: flex-start; bottom:25%;}
#sliderSec .sliderWrap .sliderDots li{width:25%;border-bottom:2px solid #dcd3c9; }
#sliderSec .sliderWrap .sliderDots li button{display:block;outline:none; border-style: none; padding-bottom:20px; background:none;
    font-family: 'Poppins'; cursor: pointer; }
#sliderSec .sliderWrap .sliderDots li button.active{color:#cd056d;}


/* Slider Section sliderTxt style */
#sliderSec .sliderEmblem{position:absolute;width:43px; height:43px; transition:all 0.6s; right:20%;top:0;}
#sliderSec .sliderEmblem img{width:100%; animation: rotate_image 10s linear infinite;
    transform-origin: 50% 50%;}
#sliderSec .sliderTxt{width: 100%; height: 300px; position:absolute; display:flex; justify-content: space-evenly; 
    align-items: center; top:34%;text-align: center; z-index: 100; transition:all 0.4s ease-in-out;}
#sliderSec .sliderTxt span{display:block; color:#514d4d; font-family:'Source Sans Pro';font-weight: 400; font-size: 200px;
transition:padding 1.2s cubic-bezier(0.65, 0.05, 0.36, 1);}


/***********************
 Service Section style 
 **************************/
 #serviceSec{width:100%; height:auto; position:relative; background: linear-gradient(to bottom, rgba(252,247,239,1) 0%,rgba(255,255,255,0) 100%);
margin-bottom: 50px;}
 #serviceSec .center{width:100%; height:auto; max-width:1400px; margin:auto; }

 /* serviceTit style */
 #serviceSec .serviceTit{width:100%; height:auto;display:flex; justify-content: center; align-items: center; flex-direction:column; }
 #serviceSec .serviceTit .seviceEmblem{width:100%; height:auto;display:flex; justify-content: center;}
 #serviceSec .serviceTit .seviceEmblem img{width:100%; }
 #serviceSec .serviceTit h1{font-family: 'Source Sans Pro'; font-weight:600; font-size:50px; padding:20px; display:block;}

 #serviceSec .serviceTit .line{width:50px; display:block; height:4px; background:#514d4d;}


 /* serviceCon style(grid box) */
#serviceSec .serviceCon{width:100%; height:auto; }
#serviceSec .serviceCon .conBox{width:100%; height: auto;display:grid;grid-template-columns: repeat(3, 1fr); gap:0.4%;
align-items:stretch; align-content: center; justify-content: center;}

#serviceSec .serviceCon .conBox .item{padding:20px; display:flex; flex-direction: column; align-items: center; _position:relative;}
#serviceSec .serviceCon .conBox .item .imgBox{width: 100%; height:250px; background:url(../img/main_service_1.png) no-repeat center center;
background-size: cover; border-radius: 5%; position:relative;}
#serviceSec .serviceCon .conBox .item:nth-child(2) .imgBox{background-image:url(../img/main_service_2.png);}
#serviceSec .serviceCon .conBox .item:nth-child(3) .imgBox{background-image:url(../img/main_service_3.png);}


#serviceSec .serviceCon .conBox .item .imgBox .iconBox{width:100%; height:100px; position:absolute; background:url(../img/main_service_bg.png)
no-repeat 50% 0; top:80%; display:flex; justify-content: center; align-items: center;}
#serviceSec .serviceCon .conBox .item .imgBox .iconBox img{max-width:100%;}


#serviceSec .serviceCon .conBox .item .txtBox{margin-top:50px; width:100%; text-align: center;max-width: 70%;}
#serviceSec .serviceCon .conBox .item .txtBox h3{display: block;margin-bottom:10px; font-family: 'Noto Sans KR';}
#serviceSec .serviceCon .conBox .item .txtBox span{display: block; margin-bottom: 20px; font-weight: 400; font-family: 'Noto Sans KR'}
#serviceSec .serviceCon .conBox .item .txtBox button{width:60%; height:50px; font-family: 'Source Sans Pro'; color:#514d4d;
_text-transform: uppercase; font-size:18px; font-weight: 600; background: #fff; border-radius: 3px; cursor:pointer;
border:1px solid #514d4d; transition: all 0.4s; }
#serviceSec .serviceCon .conBox .item .txtBox button:hover{color:#fff; background: #cd056d; border:1px solid #cd056d;}


/***********************
 Grid Section style 
 **************************/
 #gridSec{width:100%; height: auto; background:#ddd;}
 #gridSec .gridBox{width:100%; height:auto; display:grid; grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(5, 1fr); align-items:stretch; align-content:center; justify-content: center; border:1px solid #cd056d;}

#gridSec .gridBox .item{width:100%; height:auto; position:relative; display:flex; justify-content: center; align-items: center;}
#gridSec .gridBox .item:nth-child(1){grid-row:1/3; grid-column: 1/2; height:1000px;}
#gridSec .gridBox .item:nth-child(1) .imgBox{width:100%; height:100%; background: url(../img/main_grid_img_1.jpg) no-repeat 
    center center;background-size: cover;}
#gridSec .gridBox .item .txtBox{position:absolute; font-family: Noto Sans KR; font-weight: 500;}

#gridSec .gridBox .item:nth-child(2){height:800px; background:#cd056d;}
#gridSec .gridBox .item:nth-child(3){height:200px; background:#ddd;}






